p {
background-color: antiquewhite;
font-family: Cambria, serif;
}
li {
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 { 
    font-style: Helvetica; 
}
.NBA {
    background-color: white;
    color: navy(17, 10, 10);
    border: 10px;
    font-style: Helvetica; 
}
.NFL { 
    background-color: white;
    color: red; 
    font-style: Helvetica; 
}
.newpeople { 
    background-color: teal;
}
input {
    background-color: wheat;
    color: teal;
}