p {
background-color: antiquewhite;
font-family: Cambria, serif;
}
li {
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 { 
    font-style: Helvetica; 
    text-align: center;
}

.Sporty { 
    background-color: white;
    color: navy; 
    font-style: Helvetica; 
    text-align: center;
}
.newpeople { 
    background-color: teal;
}
input {
    background-color: wheat;
    color: teal;
}
.NBA {

}
body {
    background-color: #817a7a; 
    color: navy;
}